@tailwind base;
@tailwind components;
@tailwind utilities;
/* blue theme */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 1rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 251 70% 54%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 20.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
} */

/* black theme */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 251 70% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --success: 135, 70%, 52%;
    --success-foreground: 0 0% 8%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 251 70% 54%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 217.2 91.2% 19.8%;
    --success: 135, 70%, 52%;
    --success-foreground: 0 0% 8%;
  }
} */
/* grey theme */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 251 70% 54%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 90.8%;
    --ring: 251 70% 54%;
    --radius: 0.5rem;
    --success: 135, 70%, 52%;
    --success-foreground: 0 0% 8%;
  }

  .dark {
    --background: 0, 0%, 11%;
    --foreground: 0 0% 98%;
    --card: 0, 0%, 15%;
    --card-foreground: 0 0% 98%;
    --popover: 0, 0%, 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 251 70% 54%;
    --primary-foreground: 0 0% 99%;
    --secondary: 0, 0%, 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0, 0%, 9.5%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0, 0%, 19%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0, 0%, 15%;
    --input: 0, 0%, 15%;
    --ring: 251 70% 54%;
    --success: 135, 70%, 52%;
    --success-foreground: 0 0% 8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  @media (prefers-color-scheme: dark) {
    body {
      @apply dark;
    }
  }
  .checkbox-fancy {
    --color: hsl(var(--primary));
    --text-color: #fff;
    --background-color: #000;
    --width: 18px;
    --height: 18px;
    appearance: none;
    position: relative;
    outline: none;
    border: 0;
    display: grid;
    place-items: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    margin: 0;
    border-radius: 4px;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.2));
  }

  .checkbox-fancy {
    @apply border border-gray-300 border-solid checked:border-transparent;
  }

  .checkbox-fancy:checked {
    animation: pulse-border 0.7s cubic-bezier(1, 0, 0, 1) forwards;
    transition: background 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
    background: var(--color);
  }

  .checkbox-fancy::before,
  .checkbox-fancy::after {
    content: '';
    position: absolute;
  }
  .checkbox-fancy::before {
    transition: opacity 0.3s cubic-bezier(1, 0, 0, 1) 0.1s;
    opacity: 0;
  }
  .checkbox-fancy:checked::before {
    opacity: 1;
    width: 6px;
    height: 11px;
    border: solid var(--text-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .checkbox-fancy:checked::after {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    animation: firework 0.5s ease forwards 0.1s;
  }

  label:has(.checkbox-fancy:checked) {
    text-decoration: line-through;
  }

  label {
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  @keyframes firework {
    0% {
      opacity: 1;
      box-shadow: 0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color),
        0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color),
        0 -5px 0 -1px var(--color), 0 -5px 0 -1px var(--color);
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      box-shadow: 0 -25px 0 0px var(--color), 14px -18px 0 0px var(--color),
        14px 18px 0 0px var(--color), 0 25px 0 0px var(--color),
        -14px 18px 0 0px var(--color), -14px -18px 0 0px var(--color);
    }
  }

  @keyframes pulse-border {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 132, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  .pulse-border {
    animation: pulse-border 2s infinite;
  }

  /* select */
  select {
    @apply bg-background border text-foreground text-sm rounded-lg focus:border-primary/30 block w-full p-2  placeholder-foreground/70;
  }

  select:focus {
    @apply outline-none;
  }

  select option {
    @apply bg-background text-foreground text-sm rounded-lg focus:border-primary/30 block w-full p-4  placeholder-foreground/70;
  }

  /* form */
  form {
    @apply flex flex-col gap-4 mt-4;
  }
  form .form-group {
    @apply flex flex-col gap-4;
  }

  form .form-footer {
    @apply flex flex-col gap-4 mt-10;
  }

  /*details summary*/
  details summary {
    @apply flex items-center gap-2;
  }

  details summary::-webkit-details-marker {
    @apply hidden;
  }

  details summary::marker {
    @apply hidden;
  }

  details summary:focus {
    @apply outline-none;
  }

  summary {
    @apply cursor-pointer text-foreground text-sm rounded-lg bg-background/25 p-2;
  }
  details[open] summary {
    @apply bg-background/50;
  }
  details[open] summary:hover {
    @apply bg-background/25;
  }
  details {
    @apply bg-background/25 rounded-lg select-none;
  }

  details summary::before {
    @apply content-['+'] text-foreground;
  }

  details[open] summary::before {
    @apply content-['-'] text-foreground;
  }

  /* add padding to details children except summary */
  details > *:not(summary) {
    @apply px-4 my-2;
  }

  /*
    ========================================
    TOGGLE using radio buttons and labels
    ========================================
  */

  .toggle {
    @apply px-2 py-1 rounded-lg bg-background/50 relative border select-none cursor-pointer text-foreground/80 text-sm;
  }

  .toggle input {
    @apply absolute opacity-0 w-0 h-0;
  }

  .toggle:has(input:checked) {
    @apply bg-foreground/10 font-semibold text-foreground;
  }

  /*
    ========================================
    INPUT
    ========================================
  */

  input:not([type='checkbox']):not([type='radio']) {
    @apply dark:color-scheme-dark h-9 w-full rounded-md border border-input bg-muted px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-muted file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
  }
  textarea {
    @apply bg-muted;
  }

  /*
    ========================================
    COOL CSS ANIMATIONS
    ========================================
  */

  /* bounce... spin, bounce */
  @keyframes bounceAndSpin {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.2) rotate(180deg);
    }
    100% {
      transform: scale(1) rotate(360deg);
    }
  }

  .bounce-and-spin {
    animation: bounceAndSpin 2s;
  }
}

@layer utilities {
  .color-scheme-dark {
    color-scheme: dark;
  }
}
